* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.country-name {
  margin: 10px 0;
  display: flex;
  text-align: center;
  font-size: 40px;
  /* align-items: center; */
}
.country-list {
  padding: 0;
  margin: -16px 0;
  list-style-type: none;
}
.list-line {
  display: flex;
  /* flex-direction: row-reverse; */

  margin: 0 auto;
}
.flag img {
  width: 50px;
  padding: 0;
  margin: 0;
  /* vertical-align: middle; */
}
.list-flag img {
  width: 20px;
}
p {
  margin: 10px 0;
  padding: 0;
}
